<!DOCTYPE html>
<html lang="en">

<head>
  <title>About | Abhishek Singh</title>
  <meta name="description" content="This page provide basic details abbout abhishek singh and his eduacational profile" />
  <link rel="canonical" href="https://singhabhishek.tech/about" />
  <meta property="og:title" content="About | Abhishek Singh" />
  <meta property="og:description" content="This page provide basic details about abhishek singh and his eduacational profile" />
  <meta property="og:url" content="https://singhabhishek.tech/about" />
  <meta name="keywords" content="Abhishek, Singh,software, Engineer,software Developer , Freelancer , Data Analyst,Cyber Security Expert" />
  <link rel="stylesheet" href="/public/css/About.css" type="text/css">
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>

  <div class="container-fluid about-page-background">
    <br>
    <div class="container-lg">
      <div class="row">

        <div class="col-12">
          <div class="d-flex justify-content-center mt-5">
            <img class="formal-pic " src="/public/img/DSC_0404.JPG">
          </div>
        </div>
        <div class="col-12 mt-5 d-flex justify-content-center text-center">
          <div class=" font-weight-bold text-white display-2 text-uppercase font-weight-bold font-italic" style="font-family: 'Fraunces', serif;">
            Abhishek Singh
          </div>
        </div>
        <div class="col-12 mt-5">
          <div class="d-flex justify-content-center Headline">
            <h1 style="color: #c0e218" class="text-center">A Computer Science Undergraduate From NSIT Delhi</h1>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex justify-content-center Headline">
            <h2 style="color: #c0e218">(University of Delhi)</h2>
          </div>
        </div>
        <div class="col-12 mt-5">
          <div class="text-justify text-white mx-lg-5">
            <div class="fs-4" style="font-family: 'Roboto', sans-serif;">
              I am Abhishek Singh from madhubani , bihar and currently residing in delhi from 2015.
              My father is in Indian Air Force and mother is a house wife.
              I have completed my class 12th from Kendriya Vidyalaya No 2 Delhi Cantt and matriculation (10th) from Kendriya Vidyalaya No 1 Air Force Station Adampur, jalandhar, pujab , India.
              I have scored good marks in mathematics and computer science compared to other subjects.<br><br>
              Currently I am pursuing my Bachelor of Engineering in Computer Science with subjects like Big data and analytics , Machine learning and software testing .
              In last 3 years I have worked on multiple projects but the major are -<br><br>
              1. Image captioning Bot build on top of technology like deep learning ,NLP and Neural Network.<br>
              2. Football management which is designed on java and database used is a sql database namely contact.<br>
              3. Shopping Mall Management System Which is implemented by object oriented programming in c++.<br><br>
              As a fresher I have worked as a Data Analytics intern at Peacock Solar where I was responsible for analysing data using advanced analytics and deep learning algorithm .
              I was given task to perform Web Scrapping using python to acquire data required by the company for its various projects .
              I was also part of the team which was designing their management task to perform day to day tak like attendance and progress report .<br><br>
              My strength are punctuality , hardworking, communication ,teamwork and problem solving ability.<br><br>
              My hobbies are listening music and playing Chess.<br><br>
              I have working Knowledge of 3 language namely Hindi , English and Maitheli. With some basic Knowledge of Sanskrit .
            </div>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-center">
        <div class="col-12 mt-3">
          <div class="text-center text-warning">
            <h1 class="display-3 fw-bold fst-italic text-decoration-underline">Education History</h1>
          </div>
        </div>
        <div class="col-lg-12"><br /><br /></div>
        <div class="col-lg-3 col-md-4 mt-5 mx-4 border border-danger border-5" style="background-color: white;text-align: center;">
          <div class="mt-4">July 2017 -June 2021</div>
          <div class="mt-4">Bachelor Of Engineering (B.E) Computer Engineering</div>
          <div class="mt-3">Netaji Subhash Institute Of Technology<br> (NSIT) Delhi</div>
          <div class="mt-3">6.5 CGPA</div>
          <div class="mt-2">University Of Delhi (D.U)</div>
          <div class="mt-2"></div>
        </div>
        <div class="col-lg-3 col-md-4 mt-5 mx-4 border border-success border-5" style="background-color: white;text-align: center;">
          <div class="mt-4">April 2016 -Mar 2017</div>
          <div class="mt-4">Class 12th science</div>
          <div class="mt-3">Kendriya Vidyalaya No 2 APS colony Delhi Cantt, New Delhi</div>
          <div class="mt-3">84%</div>
          <div class="mt-2">Central Board Of Secondary Education (CBSE)</div>
          <div class="mt-2"></div>
        </div>
        <div class="col-lg-3 col-md-4 mt-5 mx-4 border border-primary border-5" style="background-color: white;text-align: center;">
          <div class="mt-4">April 2014 -Mar 2015</div>
          <div class="mt-4">Class 10th</div>
          <div class="mt-3">Kendriya Vidyalaya No 1 A.F.S adampur, <br> Jalandhar , Punjab</div>
          <div class="mt-3">10 CGPA</div>
          <div class="mt-2">Central Board Of Secondary Education (CBSE)</div>
          <div class="mt-2"></div>
        </div>
        <div class="col-12"><br /><br /></div>
      </div>
    </div>
    <br>
  </div>
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>

</body>

</html>
