<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/Gallery.css" type="text/css">
  <title>Gallery | Abhishek Singh</title>
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <div class="container-fluid tm-img-gallery-container selected cd-full-width">
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-01-tn.jpg" alt="Image" class="tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>One</strong></span></h2>
          <p class="tm-figure-description">Set true or false in HTML script tag for this page black and white.</p>
          <a href="/build/img/gallery/tm-img-01.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-02-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Two</strong></span></h2>
          <p class="tm-figure-description">Set true or false in HTML page line number 40 to turn on off page color.</p>
          <a href="/build/img/gallery/tm-img-02.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-03-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Three</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-03.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-04-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Four</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-04.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-05-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Five</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-05.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-06-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Six</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-06.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-07-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Seven</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-07.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-08-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Eight</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-08.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-09-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Nine</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-09.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-10-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Ten</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-10.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-11-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Eleven</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-11.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-12-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Twelve</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-12.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-13-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Thirteen</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-13.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-14-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Fourteen</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-14.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-15-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Fifteen</strong></span></h2>
          <p class="tm-figure-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="/build/img/gallery/tm-img-15.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
    <div class="grid-item">
      <figure class="effect-sadie">
        <img src="/build/img/gallery/tm-img-16-tn.jpg" alt="Image" class="img-fluid tm-img">
        <figcaption>
          <h2 class="tm-figure-title">Image <span><strong>Sixteen</strong></span></h2>
          <p class="tm-figure-description">Maecenas purus sem, lobortis id odio in sapien.</p>
          <a href="/build/img/gallery/tm-img-16.jpg">View more</a>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>
</body>

</html>
