<!DOCTYPE html>
<html lang="en">

<head>
  <title>Search | Abhishek Singh</title>
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <div class="container-fluid color-combo-9">
    <br>
    <div class="container mt-5">
      <h1 class="display-4 fw-bold fst-italic text-decoration-underline text-center text-light">Search</h1>
      <div id="content" class="text-decoration-none searchresult"></div>

      <script>
        function hndlr(response) {
          for (var i = 0; i < response.items.length; i++) {
            var item = response.items[i];
            var element = document.getElementById("content");
            element.innerHTML += "<br>" + "<a class='text-white' href='" + item.link + "'>" + item.title + "<br>" + item.snippet + "<br>" + item.link + "</a>" + "<br><br />";
            element.classList.add("text-decoration-none");
          }
        }
      </script>
      <script src="<%= url %>">
      </script>
    </div>
  </div>

  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>
</body>

</html>
