<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="/public/css/account.css">
  <%- include('../../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
</head>

<body onload="startTime()">
  <%- include('../../templates/header'); -%>
  <div class="container mt-5 mb-5 main-content px-5">
    <div class="text-center">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Login</h1>
    </div>


    <div class="row mb-5">
      <div class="col-sm-8">
          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form action="/account/login" method="POST">
              <div class="form-group">
                <label for="email">Username / Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group mt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-lg btn-outline-success mt-5 mx-5">Login</button>
              <a class="btn btn-lg btn-success mt-5" href="/account/register" role="button">Register</a>
            </form>

          </div>
      </div>

      <div class="col-sm-4 text-center">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/account/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign in with Google
          </a>
        </div>
        <div class="card-body">
          <a class="btn btn-block btn-social btn-facebook" href="/account/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign in with Facebook
          </a>
        </div>
        <div class="card-body">
          <a class="btn btn-block btn-social btn-facebook" href="/account/auth/microsoft" role="button">
            <i class="fab fa-microsoft"></i>
            Sign in with Microsoft
          </a>
        </div>
      </div>

    </div>
  </div>
  </div>
  <%- include('../../templates/footer'); -%>
</body>

</html>
