<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register | Abhishek Singh</title>
  <link rel="stylesheet" href="/public/css/account.css">
  <%- include('../../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
</head>

<body onload="startTime()">
  <%- include('../../templates/header'); -%>
  <div class="container mt-5 mb-5 main-content px-5">
    <h1 class="mx-5">Register</h1>

    <div class="row mb-5">
      <div class="col-sm-8">
          <div class="card-body">
            <form action="/account/register" method="POST">
              <!-- <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" class="form-control mb-3" name="fname" placeholder="Enter your First Name">
              </div>
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" class="form-control mb-3" name="lname" placeholder="Enter your Last Name">
              </div> -->
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control mb-3" name="username" placeholder="Enter your username">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter your password">
              </div>
              <button type="submit" class="btn btn-lg btn-outline-success mt-5 mx-5">Register</button>
              <a class="btn btn-lg btn-success mt-5" href="/account/login" role="button">Login</a>
            </form>
          </div>
      </div>

      <div class="col-sm-3 text-center">
          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/account/auth/google" role="button">
              <i class="fab fa-google"></i>
              Sign Up with Google
            </a>
          </div>
          <div class="card-body">
            <a class="btn btn-block btn-social btn-facebook" href="/account/auth/facebook" role="button">
              <i class="fab fa-facebook"></i>
              Sign Up with Facebook
            </a>
          </div>
          <div class="card-body">
            <a class="btn btn-block btn-social btn-facebook" href="/account/auth/microsoft" role="button">
              <i class="fab fa-microsoft"></i>
              Sign Up with Microsoft
            </a>
          </div>
      </div>

    </div>
  </div>
  <%- include('../../templates/footer'); -%>
</body>

</html>
