<div class="row">
  <div class="col-12 mt-3">
    <div class="text-center text-warning">
      <h1 class="display-3 fw-bold fst-italic text-decoration-underline">Education History</h1>
    </div>
  </div>
  <div class="col-lg-12"><br /><br /></div>
  <div class="col-1 mx-md-2"></div>
  <div class="col-lg-3 col-md-4 mx-md-3 mx-lg-0 border border-danger border-5" style="background-color: white;text-align: center;">
    <div class="mt-4">July 2017 -June 2021</div>
    <div class="mt-4">Bachelor Of Engineering (B.E) Computer Engineering</div>
    <div class="mt-3">Netaji Subhash Institute Of Technology<br> (NSIT) Delhi</div>
    <div class="mt-3">6.5 CGPA</div>
    <div class="mt-2">University Of Delhi (D.U)</div>
    <div class="mt-2"></div>
  </div>
  <div class="col-md-1 d-xxl-none d-lg-none"></div>
  <div class="col-lg-3 mx-lg-5 col-md-4 border border-success border-5" style="background-color: white;text-align: center;">
    <div class="mt-4">April 2016 -Mar 2017</div>
    <div class="mt-4">Class 12th science</div>
    <div class="mt-3">Kendriya Vidyalaya No 2 APS colony Delhi Cantt, New Delhi</div>
    <div class="mt-3">84%</div>
    <div class="mt-2">Central Board Of Secondary Education (CBSE)</div>
    <div class="mt-2"></div>
  </div>
  <div class="col-md-4 d-xxl-none d-lg-none"></div>
  <div class="col-lg-3 mt-md-5 mt-lg-0 col-md-4 border border-primary border-5" style="background-color: white;text-align: center;">
    <div class="mt-4">April 2014 -Mar 2015</div>
    <div class="mt-4">Class 10th</div>
    <div class="mt-3">Kendriya Vidyalaya No 1 A.F.S adampur, <br> Jalandhar , Punjab</div>
    <div class="mt-3">10 CGPA</div>
    <div class="mt-2">Central Board Of Secondary Education (CBSE)</div>
    <div class="mt-2"></div>
  </div>
  <div class="col-12"><br /><br /></div>
</div>
