<div class="Introduce" style="background-color: #FFEF98">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><br /></div>
      <div class="col-12"><br /></div>
      <img src="/build/img/20180328_184320.jpg" class="col-md-3 d-none d-md-block rounded-pill p-1 bg-dark mx-5" alt="Abhishek Singh">
      <div class="col-md-7">
        <div class="details-title display-3 fw-bold fst-italic text-decoration-underline text-center">
          Freelancer , Software Developer & Data Analyst<br><br>
        </div>
        <div class="text-center">
          A Future Ready Computer Engineer From NSIT Delhi<br><br><br>
          Hi!! I am Abhishek Singh. I am a final year B.E. Computer Engineering undergraduate at NSIT, Delhi.<br><br>
          I have experience of working with Data Structures and Algorithms (C++,Java), Web Development (NodeJs, MySQL), Linux OS (Ubuntu ,Kali)
          & Machine Learning (Python). What I might lack in skills I make up for with my determination to learn.<br><br>
          I am open to exploring new things and new opportunities!<br><br><br>
        </div>
        <div class="text-center"> <a class="btn btn-secondary btn-lg" href="About">Know More</a></div>
      </div>
      <div class="col-12"><br /></div>
      <div class="col-12"><br /></div>
    </div>
  </div>
</div>
