<div class="Testimonals">
  <div class="container-fluid">
    <div class="row bg-secondary text-light">
      <div class="col-12 mb-5 mt-5 text-center display-1 fw-bold text-decoration-underline">Testimonals<br /></div>
      <% listoftestimonals.forEach(function(testimonal){ %>
      <div class="col-md-4 col-lg-5 mb-5 mx-lg-5 text-center">
        <img class="rounded-circle mb-5 img-thumbnail rounded-sm" style="height:100px" src="<%=testimonal.image%>" />
        <p><%=testimonal.data%></p>
        <h2><%=testimonal.name%></h2>
        <h3><%=testimonal.designation%></h3>
      </div>
      <% }); %>
    </div>
  </div>
</div>
