<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/css/compose.css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/ico/favicon-16x16.png">
  <link rel="manifest" href="/public/ico/site.webmanifest">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&family=Fraunces:ital,wght@1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">

  <!-- Font awesome icon pack -->
  <script src="https://kit.fontawesome.com/b9d2db95c4.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/header'); -%>
  <div class="container mt-5">
    <h1>Compose</h1>
    <form class="" action="/blog/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="15" cols="30"></textarea>
      </div>
      <button class="btn btn-primary mt-5 text-center" type="submit" name="button">Publish</button>

    </form>
  </div>
  <hr style="color:white" class="dropdown-divider">
  <%- include('partials/footer'); -%>
</body>

</html>
