<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Experience | Abhishek Singh</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/public/css/experience.css" type="text/css">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/ico/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/ico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/ico/favicon-16x16.png">
  <link rel="manifest" href="/public/ico/site.webmanifest">

  <!-- Font awesome icon pack -->
  <script src="https://kit.fontawesome.com/b9d2db95c4.js" crossorigin="anonymous"></script>

</head>

<body>
  <!-- Header -->
  <div id="header"></div>
  <%- include('partials/header'); -%>

  <!-- Content Part -->

  <div class="container-fluid">

    <!-- Headings and Sub headings -->
    <div class="row">
      <div class="col-12">
        <div class="Heading text-center display-1 text-decoration-underline fw-bold fst-italic text-white">Experience</div>
      </div>
      <div class="px-5">
        <div class="Details text-center text-white display-7 px-5 mt-5">
          Check out my professional history to learn more about my experience and career milestones.
          Throughout the years, I’ve developed critical skills that have led me to partner with leading industry professionals and work on exceptional projects.
          For more information about my work or to discuss a collaboration, simply get in touch.
        </div>
      </div>
    </div>

    <!-- Main content , the list of experience -->
    <div class="row">

      <!-- 1st Experience -->
      <div class="col-lg-5 col-11 mx-5 mt-5">
        <div class="experience-box Experience1 text-center mt-5 ">
          <a class="text-decoration-none" href="/Experience/Peacock-Solar">
            <div class=""><br></div>
            <div class="fs-2 text-white">June 2020 -july 2020</div>
            <div class="display-4 mt-2" style="color: #FF6161;">Data Analytics Intern</div>
            <div class="fs-3 mt-3 text-white">Sangam Smesco Pvt Ltd</div>
            <div class="fs-4 mt-4 mx-5 text-white">Worked 2 Months as Data Analytics intern at peacock solar as a part of
              summer internship during my undergraduates at Nsit Delhi.</div>
            <div class=" mt-4 "><a class="fs-4 text-decoration-none text-white" href="https://www.singhabhishek.co.in/peacock-solar">Learn More</a></div>
            <div class="mt-5"><br /></div>
          </a>
        </div>
      </div>

      <!-- 2nd Experience -->
      <div class="col-lg-5 col-11 mx-5 mt-5">
        <div class="experience-box Experience2 text-center mt-5 ">
          <a class="text-decoration-none" href="/Experience/VCE">
            <div class=""><br></div>
            <div class="fs-2 text-white">June 2020 -july 2020</div>
            <div class="display-4 mt-2" style="color: #FF6161;">Management Intern</div>
            <div class="fs-3 mt-3 text-white">Vardhan Consulting Engineers</div>
            <div class="fs-4 mt-5 mx-5 text-white">Evaluation of various corporate strategies through real life case study and analysis.</div>
            <div class=" mt-5 "><a class="fs-4 text-decoration-none text-white" href="https://www.singhabhishek.co.in/vce">Learn More</a></div>
            <div class="mt-5"><br /></div>
          </a>
        </div>
      </div>

      <!-- Blank Line at the End -->
      <div class="col-12"><br /><br /></div>

    </div>
  </div>

  <hr style="color:white" class="dropdown-divider">
  <!-- Footer -->
  <%- include('partials/footer'); -%>
</body>

</html>
