body{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("/build/img/2597109669_9b40ec947f_o.jpg");
}
.Welcome{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/build/img/IMG_8881.jpg");
    background-size: 100% 100%;
}
.details-title{
    font-family: 'Sansita Swashed', cursive;
}
.Projects{
    background-color: #FF6161;
    height: 650px;
    width: 100%;
}
.Projects h1{
    margin-top: 50px;
    position: absolute;
    margin-left:550px;
    color: white;
    font-size: 60px;
    background-color: transparent;
}
.Projects h2{
    margin-top: 150px;
    background-color: transparent;
}
.Projects a{
    border: 10px solid #FF6161;
    background-color: #FF6161;
}
.backgroundproject{
    position: absolute;
    margin-top: 150px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
    text-align: center;
    color: white;
}
.projectbutton{
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
.projectbox h1{
    color: #FF6161;
    font-size: 30px;
    margin-left: 50px;
    width: 300px;
}
.Project1{
    margin-left: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/build/img/office.jpg");
}
.Project2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/build/img/football.jpg");
    margin-left: 550px;
}
.Project3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/build/img/payment.jpg");
    margin-left: 1050px;
}
.ProjectlinkfromHome{
    color: white;
    position: absolute;
    margin-top: 580px;
    margin-left: 600px;
    font-size: 20px;
    background-color: transparent;
}
.Tools{
    background-color: #A2CDF2;
}
