body{
  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("/build/img/2597109669_9b40ec947f_o.jpg");
}
.heading{
  color: white;
}
a:link {
text-decoration: none;
}
.skill-sub-heading{
  color: #FF6161;
}
.skill-box{
  background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("/build/img/skill-bg.jpeg");
  box-sizing: border-box;
  border-radius: 25px;
  background-size: 100% 100%;
  box-shadow: 10px 10px 5px grey;
}
.skill-box:hover{
    transform: translate(-10px,-10px);
    transition: 0.8s;
    box-shadow: 30px 30px 25px grey;
}
.skill-box:active{
    transform: translate(5px,5px);
    transition: 0.2s;
    box-shadow: 10px 10px 5px grey;
}
