<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('head'); -%>
  <title>Error</title>
</head>

<body style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(/public/img/2597109669_9b40ec947f_o.jpg);">
  <div class="mt-5 text-center">
    <h1 class="mx-5 mt-5 text-white display-1 text-capitalize fw-bold fst-italic text-decoration-underline">Error</h1>
    <h1 class="mt-5 mx-5 text-white display-3 text-capitalize fw-bold fst-italic text-decoration-underline">The Page Cant be loaded at this time</h1>
    <a  href="/"><img class="mt-5" height="200px" src="/logo" alt="Abhishek Singh"></a>
    <p class="mt-5 text-white fst-italic display-5">Inconvience Caused is regreted</p>
  </div>

  <div class="text-center mt-5">
    <a href="/" class="btn btn-outline-secondary mx-4" role="button">Home</a>
    <a href="/Blog" class="btn btn-outline-secondary mx-3 " role="button">Blog</a>
    <a href="/Contact" class="btn btn-outline-secondary mx-4" role="button" >Contact</a>
  </div>
</body>

</html>
