<div class="container-fluid text-white footer">
  <hr style="color:white" class="dropdown-divider" />
  <div class="row">
    <div class="col-sm-4 d-none d-sm-block text-center">
      <div class=""><br /></div>
      <div class="fs-5">info@singhabhishek.co.in</div>
      <div class="fs-6">+91 9599638865</div>
      <div class="mt-1"></div>
      <%- include('social-connect'); -%>
    </div>
    <ul class="text-center list col-sm-4 " style="list-style-type: none;">
      <br />
      <li><a class="link-light text-decoration-none" href="blog">Blog</a> </li>
      <li><a class="link-light text-decoration-none" href="https://www.github.com/abhishek99singh">Github</a> </li>
      <li><a class="link-light text-decoration-none" href="Gallery">Gallery</a> </li>
      <li><a class="link-light text-decoration-none" href="https://mail.singhabhishek.tech">E-mail</a></li>
    </ul>
    <div class="col-sm-4 col-6 text-center d-none d-sm-block">
      <div class=""><br /><br /></div>
      <div class="fs-5">New Delhi</div>
      <div class="fs-6">India</div>
    </div>
  </div>
</div>
