<%- include('./chat'); -%>
<div class="container-fluid text-white footer">
  <div class="row">
    <div class="col-sm-4 d-none d-sm-block text-center">
      <div class=""><br /></div>
      <div class="fs-5">info@singhabhishek.tech</div>
      <div class="fs-6">+91 9599638865</div>
      <div class="mt-1"></div>
      <a href="https://www.facebook.com/in.abhishek.singh"><i class="fab fa-facebook-square fa-2x mx-1" style="color:white;"></i></a>
      <a href="https://www.instagram.com/abhishek_singh_IN/"><i class="fab fa-instagram fa-2x mx-1" style="color:white"></i></a>
      <a href="https://www.twitter.com/abhishek__IN"><i class="fab fa-twitter-square fa-2x mx-1" style="color:white"></i></a>
      <a href="https://t.me/abhishek_singh_IN"><i class="fab fa-telegram fa-2x" style="color:white"></i></a>
      <a href="mailto:abhisheksingh.nsut@gmail.com"><i class="fas fa-envelope fa-2x mx-1" style="color:white"></i></a>
      <a href="https://github.com/abhishek-singh-IN"><i class="fab fa-github-square fa-2x mx-1" style="color:white"></i></a>
      <a href="https://www.linkedin.com/in/abhishek-singh-in"><i class="fab fa-linkedin fa-2x mx-1" style="color:white"></i></a>
    </div>
    <ul class="text-center list col-md-2 col-4" style="list-style-type: none;">
      <br />
      <li><a class="link-light text-decoration-none" href="/resume">Resume</a> </li>
      <li><a class="link-light text-decoration-none" href="/blog">Blog</a> </li>
      <li><a class="link-light text-decoration-none" href="/Gallery">Gallery</a> </li>
      <li><a class="link-light text-decoration-none" href="/application/mail">E-mail</a></li>
    </ul>
    <ul class="text-center list col-md-2 col-4 d-none d-sm-block" style="list-style-type: none;">
      <br />
      <li><a class="link-light text-decoration-none" href="https://github.com/abhishek-singh-IN">Github</a> </li>
      <li><a class="link-light text-decoration-none" href="/Disclaimer">DISCLAIMER</a> </li>
      <li><a class="link-light text-decoration-none" href="/Privacy-policy">Privacy Policy</a> </li>
      <li><a class="link-light text-decoration-none" href="/Terms-of-Service">Terms of Service</a> </li>
    </ul>
    <div class="col-md-4 col-8 text-center ">
      <div class=""><br /></div>
      <div class="fs-6" id="clock"></div>
      <script src="/public/js/time.js"></script>
      <div class="fs-5">New Delhi</div>
      <div class="fs-6">India</div>
      <div class="fs-6">© 2020-<%= new Date().getFullYear();%> Abhishek Singh</div>
    </div>
  </div>
</div>
