<nav class="navbar navbar-expand-lg navbar-dark ">
  <div class="container-fluid">
    <a class="navbar-brand " href="/">
      <img src="/logo" alt="" width="100" height="100" class="d-inline-block align-center">
    </a>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto text-center" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/About">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Skill">Skills</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="Project" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
          </a>
          <ul class="dropdown-menu bg-dark text-center" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item bg-dark fs-3 text-white text-center text-decoration-underline fw-bold" href="/Project">
                All Projects
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item bg-light" href="/Project/AI-Voice-Assistant"> Voice Assistant</a></li>
            <li><a class="dropdown-item bg-light" href="/Project/Image-Captioning-bot">Image Recognition</a></li>
            <li><a class="dropdown-item bg-light" href="/Project/Football-Management-System">Football Management System</a></li>
            <li><a class="dropdown-item bg-light" href="/Project/Shopping-Mall-Management-System">Shopping Mall Management System</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/Contact">Contact</a>
        </li>
      </ul>
      <form action="\search" method="post" class="d-flex">
        <input id="search" name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <a href="/account"><i class="fas fa-user-circle px-2 fa-2x"></i></a>
    </div>
  </div>
</nav>
