<div class=" navbar-collapse ml-auto text-center text-white" id="test">
  <ul class="navbar-nav me-auto mb-lg-0 text-white">
    <li class="nav-item bg-danger mx-5 py-2"><a class="nav-link active text-white" aria-current="page" href="/application/mail">New Mail</a></li>
    <li class="nav-item mt-5"><a class="nav-link active text-white" aria-current="page" href="/application/mail/inbox">Inbox</a></li>
    <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="/application/mail">Sent</a></li>
    <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="/application/mail">Drafts</a></li>
    <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="/application/mail">Spam</a></li>
    <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="/application/mail">Bin</a></li>
  </ul>
</div>
