<div class="Projects">
  <h1>Top Projects</h1>
  <div class="Project1 backgroundproject projectbox">
    <br><br>
    <h1>Image Captioning Bot</h1>
    <h2>A image recognition software for recognising general objects and their behaviour.</h2>
    <a class="projectbutton" href="">Know More</a>
  </div>
  <div class="Project2 backgroundproject projectbox">
    <br><br>
    <h1>Football Management System</h1>
    <h2>A sports management System for handling requirements of small scale sports authority and enterprise.</h2>
    <a class="projectbutton" href="">Know More</a>
  </div>
  <div class="Project3 backgroundproject projectbox">
    <br><br>
    <h1>Shopping Mall Management System</h1>
    <h2>A inventory and billing management system for retail shops .</h2>
    <a class="projectbutton" href="">Know More</a>
  </div>
  <a href="Project" class="ProjectlinkfromHome">For all Projects Click Here</a>
</div>
