<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="stylesheet" href="/public/css/account.css">
  <%- include('../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <div class="container-fluid designer-main-content">
    <div class="container-md main-content px-5 ">
      <br>
      <div class="text-center text-dark">
        <i class="fas fa-key fa-6x"></i>
        <h1 class="display-3">Login</h1>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <div class="card-body">
            <form action="/account/auth/local/login" method="POST">
              <div class="form-group">
                <label for="email">Username / Email</label>
                <input type="email" class="form-control" name="username">
              </div>
              <div class="form-group mt-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <button type="submit" class="btn btn-lg btn-outline-success mt-5 mx-5">Login</button>
              <!-- <a class="btn btn-lg btn-success mt-5" href="/account/register" role="button">Register</a> -->
            </form>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class="row">
            <div class="card-body col-md-6">
              <a class="btn btn-block btn-social btn-google" href="/account/auth/google" role="button">
                <i class="fab fa-google"></i>
                Sign in with Google
              </a>
            </div>
            <div class="card-body col-md-6">
              <a class="btn btn-block btn-social btn-facebook" href="/account/auth/microsoft" role="button">
                <i class="fab fa-microsoft"></i>
                Sign in with Microsoft
              </a>
            </div>
            <div class="card-body col-md-6">
              <a class="btn btn-block btn-social btn-github" href="/account/auth/github" role="button">
                <i class="fab fa-github"></i>
                Sign in with Github
              </a>
            </div>
            <div class="card-body col-md-6">
              <a class="btn btn-block btn-social btn-facebook" href="/account/auth/facebook" role="button">
                <i class="fab fa-facebook"></i>
                Sign in with Facebook
              </a>
            </div>
            <div class="card-body col-md-6">
              <a class="btn btn-block btn-social btn-twitter" href="/account/auth/twitter" role="button">
                <i class="fab fa-twitter"></i>
                Sign in with Twitter
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
  </div>


  </div>
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>

</body>

</html>
