<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Register | Abhishek Singh</title>
  <link rel="stylesheet" href="/public/css/account.css">
  <%- include('../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
</head>

<body onload="startTime()">
  <%- include('../templates/header'); -%>
  <div class="container fw-bold fst-italic  mb-5 main-content px-5">
    <h1 class="mx-5 display-3 text-center text-decoration-underline mb-5">Register</h1>

    <form action="/account/auth/local/register" method="POST">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="fname">First Name</label>
          <input type="text" class="form-control mb-3" name="fname" placeholder="Enter your First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control mb-3" name="lname" placeholder="Enter your Last Name">
        </div>
        <div class="form-group col-md-6">
          <label for="mobile">Mobile No</label>
          <input type="text" class="form-control mb-3" name="mobile" placeholder="Enter your Mobile/Telephone No.">
        </div>
        <div class="form-group col-md-6">
          <label for="altmobile">Alternative Mobile No</label>
          <input type="text" class="form-control mb-3" name="altmobile" placeholder="Enter Alternate Mobile/Telephone No.">
        </div>
        <div class="form-group col-md-4 mt-5 mb-5 d-flex align-items-center text-center">
          <label class="mx-3" for="gender">Gender</label>
          <select id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="no">Prefer Not to Say</option>
          </select>
        </div>
        <div class="form-group col-md-4 mt-5 mb-5 d-flex align-items-center">
          <label for="birthday">Birthday:</label>
          <input type="date" id="birthday" name="birthday" min="1900-01-01" max="2021-01-01">
        </div>
        <div class="form-group col-md-4 mt-5 mb-5 d-flex align-items-center">
          <label for="img">profile image:</label>
          <input type="file" id="img" name="img" accept="image/*">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control mb-3" name="username" placeholder="Enter your emailId">
        </div>
        <div class="form-group col-md-6">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Enter your password">
        </div>
        <div class="form-group col-md-6">
          <label for="repassword">Re Enter Password</label>
          <input type="password" class="form-control" name="repassword" placeholder="ReEnter your password">
        </div>
        <div class="form-group mt-3 mb-3">
          <label for="altemail">Alternate Email</label>
          <input type="email" class="form-control mb-3" name="altemail" placeholder="Enter Alt emailId">
        </div>
        <button type="submit" class="btn btn-lg btn-outline-success mt-5 col-md-5 mx-5">Register</button>
        <a class="btn btn-lg btn-success mt-5 col-md-5 mx-5" href="/account/login" role="button">Login</a>
      </div>
    </form>
  </div>
  <%- include('../templates/footer'); -%>
</body>

</html>
