<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Secrets</title>
  <link rel="stylesheet" href="/public/css/account.css">
  <%- include('../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/bootstrap-social.css">
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <div class="container-fluid designer-main-content">
    <br>
    <div class="container mt-5">
      <div class="jumbotron text-center mtb-5">
        <i class="fas fa-key fa-6x mt-5"></i>
        <h1 class="display-3">You've Discovered My Secret!</h1>
        <% usersWithSecrets.forEach(function(user){ %>
        <p class="secret-text mt-5"><%=user.secret%></p>
        <% }) %>
        <form class="mt-5 row mb-5" action="/application/secrets/submit" method="POST">
          <div class="form-group col-md-10">
            <input type="text" class="form-control text-center" name="secret" placeholder="What's your secret?">
          </div>
          <button type="submit" class="btn btn-dark col-md-2">Submit</button>
        </form>
      </div>
    </div>
    <br>
  </div>
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>
</body>

</html>
