<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../templates/head'); -%>
  <title>Skills of Abhishek Singh</title>
  <link rel="stylesheet" href="/public/css/skill/dbms.css" type="text/css">
</head>

<body onload="startTime()">
  <%- include('../../templates/header'); -%>

  <!-- Main content -->

  <%- include('../../templates/footer'); -%>

</body>

</html>
