<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../templates/head'); -%>
  <title>Data Structure And Algorithm</title>
</head>

<body onload="startTime()">
  <div class="bg-dark">
    <%- include('../../templates/header'); -%>
  </div>
  <div class="container-fluid color-combo-5">
    <br>
    <div class="container">
      <div class="row">
        <div class="text-center text-white text-decoration-underline py-5">
          <h1 class="display-1 fw-bold">Data Structure and Algorithm</h1>
        </div>
        <div class="text-white px-5">
          <p>
            I have a Good Working Language of Data Structure and Algorithm. I love to do Competetive Coding .
            I have working knowledge in most of the major Programming language like C++ ,Java , Python.
            Personally I love to code in C++ due to its simplicity and better speed. But For Major Deelopment and Project Work ,I preferably use
            Java and Python depending upon Requirements. For Traditional Software I mostly choose java as it is stable and machine independent making it a best choice for developer across the globe.
            For Futuristic and Smart Project comprising of machine learning, deep learning , big data , cloud computing , I prefer to use python.
            Due to Working on Multiple Languages and Project , I have a good command on data structure and algorithm on all major Languages .
          </p>
          <p>
            I Prefer to Solve Problems From Codechef , Codeforce , Hackerrank and Various other Competetive Coding Platforms.
            I am Active Programmer and Participate in all major Competitions and events held across the Platforms
          </p>
        </div>
        <div class="mb-5 px-5">
          <div class="container">
            <div class="row">
              <div class="col-md-3 px-5 mt-5">
                <a href="https://www.codechef.com/users/abhi99singh">
                  <div class="box py-2 px-2 text-center bg-warning text-dark">
                    <p class="mt-3">Codechef</p>
                    <p>Rating - 1539</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 px-5 mt-5">
                <a href="https://codeforces.com/profile/abhishek99singh">
                  <div class="box py-2 px-2 text-center bg-danger text-white">
                    <p class="mt-3">CodeForces</p>
                    <p>Rating - 1458</p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 px-5 mt-5">
                <a href="https://www.hackerrank.com/abhishek99singh">
                  <div class="box py-2 px-2 text-center bg-info text-dark">
                    <p class="mt-4 mb-5">HackerRank</p>
                    <p></p>
                  </div>
                </a>
              </div>
              <div class="col-md-3 px-5 mt-5">
                <a href="https://codingcompetitions.withgoogle.com/kickstart/certificate/summary/000000000019ffc6">
                  <div class="box py-2 px-2 text-center bg-success text-white">
                    <p class="mt-3">Google Kickstart</p>
                    <p>Rating - 4485</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <%- include('../../templates/footer'); -%>
  </div>
</body>

</html>
