.content{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("../../../Images/2597109669_9b40ec947f_o.jpg");
}
.formal-pic{
    width:400px;
    height:400px;
    object-fit: scale-down;
    border-radius:50%;
    background-color: white;
}
.Name{
    color: white;
    font-size: 30px;
    text-decoration: underline;
}
.Headline{
    color: white;
    font-size: 20px;
}
.Education h1{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    text-decoration: underline;
    color: white;
}
.educationbox{
    background-color: white;
    text-align: center;
}
.Education year{
    font-size:15px;
}
.Education course{
    font-size:25px;
}
