.Welcome{
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("/Images/IMG_8881.jpg");
    background-size: 100% 100%;
}
.Introduce{
    background-color: #FFEF98;
}
.details-title{
    font-family: 'Sansita Swashed', cursive;
}
.Projects{
    background-color: #FF6161;
    height: 650px;
    width: 100%;
}
.Projects h1{
    margin-top: 50px;
    position: absolute;
    margin-left:550px;
    color: white;
    font-size: 60px;
    background-color: transparent;
}
.Projects h2{
    margin-top: 150px;
    background-color: transparent;
}
.Projects a{
    border: 10px solid #FF6161;
    background-color: #FF6161;
}
.backgroundproject{
    position: absolute;
    margin-top: 150px;
    box-sizing: border-box;
    border-radius: 25px;
    width: 400px;
    height: 400px;
    background-size: 400px 400px;
    text-align: center;
    color: white;
}
.projectbutton{
    color: white;
    border-radius: 25px;
    text-decoration: none;
}
.projectbox h1{
    color: #FF6161;
    font-size: 30px;
    margin-left: 50px;
    width: 300px;
}
.Project1{
    margin-left: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../../Images/office.jpg");
}
.Project2{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../../Images/football.jpg");
    margin-left: 550px;
}
.Project3{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../../../Images/payment.jpg");
    margin-left: 1050px;
}
.ProjectlinkfromHome{
    color: white;
    position: absolute;
    margin-top: 580px;
    margin-left: 600px;
    font-size: 20px;
    background-color: transparent;
}
.Tools{
    background-color: #A2CDF2;
}
.ContactHomePage{
    background-color: #FCF8ED;
}
.Right_part_of_contactpart{
    position: absolute;
    background-color: #FCF8ED;
}
.Contact-Heading{
    font-family: "Brush Script MT";
    color: goldenrod;
}
.Adressincontactform{
    position: absolute;
    background-color: transparent;
    font-size: 20px;
}
.Adressincontactform p{
    background-color:transparent;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.formfilling{
    background-color: transparent;
    margin-left: 150px;
    position: absolute;
    width: 550px;
}
.formfilling input{
    background-color: transparent;
    margin-bottom: 10px;
    border: none;
    padding: 12px 20px;
}
.formfilling input#fname{
    width: 220px;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
.formfilling input#email{
    width: 220px;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
.formfilling input#subject{
    width: 485px;
    height: 30px;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
.formfilling input#message{
    width: 485px;
    height: 100px;
    border-bottom: 2px solid black;
    border-radius: 5px;
}
.submit{
    font-size: 30px;
    font-family: 'Sansita Swashed', cursive;
}
