.content{
    background-color: #FF6161;
}
.Heading h1{
    width: 1000px;
}

.description p{
    font-size: 20px;
}
a:link {
text-decoration: none;
}
.skill-sub-heading{
  color: #FF6161;
}
.skill-box{
  box-sizing: border-box;
  border-radius: 25px;
  background-size: 100% 100%;
  box-shadow: 10px 10px 5px grey;
}
.skill-box:hover{
    transform: translate(-10px,-10px);
    transition: 0.8s;
    box-shadow: 30px 30px 25px grey;
}
.skill-box:active{
    transform: translate(5px,5px);
    transition: 0.2s;
    box-shadow: 10px 10px 5px grey;
}
.DSA{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M1.jpg");
}
.cybersecurity{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M2.jpeg");
}
.bigdata{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M3.jpg");
}
.DBMS{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M4.jpg");
}
.WEBD{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M5.jpg");
}
.Android{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M6.jpg");
}
.Network{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M7.jpg");
}
.ML{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/office.jpg");
}
.DL{
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.85)),url("../../../Images/M8.png");
}
