<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../templates/head'); -%>
  <title>About | Abhishek Singh</title>
  <meta name="description" content="This page provide basic details abbout abhishek singh and his eduacational profile" />
  <link rel="canonical" href="https://singhabhishek.tech/about" />
  <meta property="og:title" content="About | Abhishek Singh" />
  <meta property="og:description" content="This page provide basic details about abhishek singh and his eduacational profile" />
  <meta property="og:url" content="https://singhabhishek.tech/about" />
  <meta name="keywords" content="Abhishek, Singh,software, Engineer,software Developer , Freelancer , Data Analyst,Cyber Security Expert" />
  <link rel="stylesheet" href="/public/css/About.css" type="text/css">
</head>

<body>
  <%- include('../templates/header'); -%>
  <div class="container-fluid">
    <div class="row">

      <div class="col-12">
        <div class="d-flex justify-content-center ">
          <img class="formal-pic " src="/public/img/DSC_0404.JPG">
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-center font-weight-bold text-white display-2 text-uppercase font-weight-bold font-italic" style="font-family: 'Fraunces', serif;">
          Abhishek Singh
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-center Headline">
          <h1 style="color: #c0e218" class="text-center">A Computer Science Undergraduate From NSIT Delhi</h1>
        </div>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center Headline">
          <h2 style="color: #c0e218">(University of Delhi)</h2>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="text-justify text-white mx-lg-5">
          <div class="mx-lg-5">
            <div class="mx-lg-5 fs-4" style="font-family: 'Roboto', sans-serif;">
              I am Abhishek Singh from madhubani , bihar and currently residing in delhi from 2015.
              My father is in Indian Air Force and mother is a house wife.
              I have completed my class 12th from Kendriya Vidyalaya No 2 Delhi Cantt and matriculation (10th) from Kendriya Vidyalaya No 1 Air Force Station Adampur, jalandhar, pujab , India.
              I have scored good marks in mathematics and computer science compared to other subjects.<br><br>
              Currently I am pursuing my Bachelor of Engineering in Computer Science with subjects like Big data and analytics , Machine learning and software testing .
              In last 3 years I have worked on multiple projects but the major are -<br><br>
              1. Image captioning Bot build on top of technology like deep learning ,NLP and Neural Network.<br>
              2. Football management which is designed on java and database used is a sql database namely contact.<br>
              3. Shopping Mall Management System Which is implemented by object oriented programming in c++.<br><br>
              As a fresher I have worked as a Data Analytics intern at Peacock Solar where I was responsible for analysing data using advanced analytics and deep learning algorithm .
              I was given task to perform Web Scrapping using python to acquire data required by the company for its various projects .
              I was also part of the team which was designing their management task to perform day to day tak like attendance and progress report .<br><br>
              My strength are punctuality , hardworking, communication ,teamwork and problem solving ability.<br><br>
              My hobbies are listening music and playing Chess.<br><br>
              I have working Knowledge of 3 language namely Hindi , English and Maitheli. With some basic Knowledge of Sanskrit .
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('../components/education'); -%>
  </div>
  <%- include('../templates/footer'); -%>
</body>

</html>
