<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>Daily Journal</title>
  <link rel="stylesheet" href="/public/css/compose.css">
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <%- include('../templates/header'); -%>
  <div class="container mt-5 main-content">
    <h1>Compose</h1>
    <form class="" action="/blog/compose" method="post">
      <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Post</label>
        <textarea class="form-control" name="postBody" rows="15" cols="30"></textarea>
      </div>
      <button class="btn btn-primary mt-5 text-center" type="submit" name="button">Publish</button>

    </form>
  </div>
  <%- include('../templates/footer'); -%>
</body>

</html>
