<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/public/css/contact.css" type="text/css">
  <title>Connect to Abhishek Singh</title>
  <%- include('../templates/head'); -%>
</head>

<body onload="startTime()">
  <%- include('../templates/header'); -%>
  <div class="container main-content">
    <h1 class="text-center display-1 text-capitalize fw-bold fst-italic text-decoration-underline">Contact Form</h1>
    <form class="" action="/Contact" method="post">
      <div class="form-group">
        <label for="contactName" class="mt-3">Name</label>
        <input class="form-control" type="text" id="contactName" name="contactName" placeholder="Enter your Full Name" required>
        <label for="contactMail" class="mt-3">E-mail</label>
        <input class="form-control" type="email" id="contactMail" name="contactMail" placeholder="Enter your e-mail id" required>
        <label for="contactNo" class="mt-3">Telephone / Mobile no</label>
        <input class="form-control" type="tel" id="contactNo" name="contactNo" placeholder="Enter your Contact No">
        <label for="contactMessage" class="mt-3">Message</label>
        <textarea class="form-control" id="contactMessage" name="contactMessage" rows="15" cols="30" placeholder="Enter your Message" required></textarea>
      </div>
      <button class="btn btn-primary mt-5 text-center" type="submit" name="button">Submit</button>
    </form>
  </div>
  <%- include('../templates/footer'); -%>

</body>

</html>
