<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../templates/head'); -%>
  <link rel="stylesheet" href="/public/css/Gallery.css" type="text/css">
  <title>Gallery | Abhishek Singh</title>
</head>

<body>
  <!-- Header -->
  <div class="bg-dark">
    <%- include('../templates/header'); -%>
  </div>
  <!-- Footer -->
  <div class="bg-dark">
    <%- include('../templates/footer'); -%>
  </div>
</body>

</html>
