*{
    background-color: #111010;
}
h1{
    margin-bottom: -10px;
}
.header{
    color: white;
    width: 1519px;
}
.logo{
    position: page;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 25px;

}
.tagline{
    position:absolute;
    width: 400px;
    margin-left: 150px;
    margin-top: -135px;
}
.nav-menu{
    float: right;
    list-style: none;
    margin-top:-75px;
    margin-right: 100px;
}
.nav-menu li{
    display: inline-block;
}
.nav-menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-family:"Verdana","sans-serif";
    font-size: 15px;
}