<!DOCTYPE html>
<html lang="en">

<head>
  <title> VAI | AI Voice Assistant </title>
  <link rel="stylesheet" href="/public/css/project/AI-Voice-Assistant.css" type="text/css">
  <%- include('../../templates/head'); -%>
</head>

<body onload="startTime()">
  <%- include('../../templates/header'); -%>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 d-flex justify-content-center font-weight-bold text-white display-2 text-uppercase font-weight-bold font-italic text-decoration-underline" style="font-family: 'Fraunces', serif;">
        VAI
      </div>
      <div class="col-12 mt-5 d-flex justify-content-center Headline">
        <h1 class="text-center" style="color: #c0e218">A privacy friendly AI voice Assistant</h1>
      </div>
      <div class="col-12 mt-5 text-justify text-white px-lg-5 fs-4" style="font-family: 'Roboto', sans-serif;">
        Artificial intelligence technologies are starting to be actively utilized in human life, to
        carry out various activities. Devices are getting smarter in their ways to interact with
        both a person and among themselves. New capacities cause creation of varied systems
        for integration of smart things into Social Networks of the web of Things. One of the
        relevant trends in AI is that the technology of recognizing what a person is saying and
        responding accordingly and that has given birth to voice assistants. New insights within
        this topic can cause new means of natural human-machine interaction, during which the
        machine would find out how to understand a human's language, and also adjust and
        interact in it.<br /><br />

        One of such tools is voice assistant, which may be integrated into many other intelligent
        systems. Today voice assistants are capable of responding to our voice based commands
        and perform tasks such as searching on the web, replying to texts, and activities to the
        extent of having a normal meaningful conversation with us.<br /><br />

        This paperconsist of explaining the principles of the functioning of an A.I. Voice
        Assistant and describe its main shortcomings and limitations as well. It also
        covers the future aspects, applications of the system and most importantly define how
        it is different from other voice assistants that are already available in the form of Siri,
        Alexa etc. Finally It consist a method of making an AI Voice Assistant without
        using cloud services and thus no user data being collected is described, which allows us
        to significantly expand the applicability of such devices within the future.
        In this Project we have worked to make a voice assistant that uses Machine Learning for
        its working. <br /><br />

        Our voice Assistant can be divided into 4 different components<br /><br />
        1. Wake word detection<br />
        In this module we discuss what is a wakeword, how we used it in our project.
        What steps we took while developing it and how well it performs.<br /><br />
        2. Automatic speech Recognition<br />
        This module talks about how we converted our voice into text format, so that it
        can be further processed.<br /><br />
        3. Natural Language Understanding<br />
        In this module, we give information and detailed steps of how our voice
        assistant tries to make sense of what the user has said and do the task told by the
        user.<br /><br />
        4.Speech Synthesis<br />
        This is the last module describing our Voice Assistant, this module is about how
        the voice assistant will generate sound waves and talk back to the user.<br /><br />
      </div>
      <div class="text-center px-lg-5"> <img class="rounded-pill border-success border border-5" src="/public/img/project/Vai.png" style="max-width:90%" /></div>
      <div class="col-12 mt-5 text-center">
        <a href="https://github.com/abhishek99singh/Vai" type="button" class="mt-5 btn btn-lg btn-primary px-5 mx-5">Source Code</a>
        <a href="https://vai.singhabhishek.tech" type="button" class="mt-5 btn btn-lg btn-success px-5 mx-5">Live Demo</a>
        <a href="/Project/AI-Voice-Assistant/ppt" type="button" class="mt-5 btn btn-lg btn-danger px-5 mx-5">Slides</a>
        <a href="/Project/AI-Voice-Assistant/thesis" type="button" class="mt-5 btn btn-lg btn-warning px-5 mx-5">Documentation</a>
      </div>
      <div class="col-12"><br /></div>
    </div>
  </div>
  <%- include('../../templates/footer'); -%>
</body>

</html>
