<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../templates/head'); -%>
  <title>Image Captioning Bot</title>
  <link rel="stylesheet" href="/public/css/project/Image-Captioing-Bot.css" type="text/css">
</head>

<body>
  <%- include('../../templates/header'); -%>

  <!-- Main content -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-center font-weight-bold text-white display-2 text-uppercase font-weight-bold font-italic text-decoration-underline" style="font-family: 'Fraunces', serif;">
          Image Captioning Bot
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="d-flex justify-content-center Headline">
          <h1 class="text-center" style="color: #c0e218">Image Captioning Bot using Deep Learning concepts and python libraries.</h1>
        </div>
      </div>
      <div class="col-12 mt-5">
        <div class="text-justify text-white mx-lg-5">
          <div class="mx-lg-5">
            <div class="mx-lg-5 fs-4" style="font-family: 'Roboto', sans-serif;">
              Image captioning requires to recognize the important objects, their attributes and their relationships in an image.
              It also needs to generate syntactically and semantically correct sentences.
              So using Machine Learning and Deep Learning concepts, enable the machine to learn and generate captions or descriptions for given images.
              Deep learning based techniques should be used because these techniques are capable of handling the complexities and challenges of image
              captioning. Machine should be able to detect and recognize different objects in image.
              It also needs to understand scene type or location, object properties and their interactions.
              Generating well-formed sentences requires both syntactic and semantic understanding of the language
              and using all these details our machine should be able to describe the image for our user and
              further use this concept of describing images to solve real world problems.<br /><br />

              The aim was to make a machine self sufficient to handle complexities and be able to detect object properties,
              their interactions, understand location or scene type and then caption an image using Deep Learning concepts such as
              Multi-layered Perceptrons, Convolution Neural Networks, Text Processing, Natural Language Processing, required datasets of images
              and then validate our model using popular evaluation metrics used in deep learning based model.<br /><br />

              Every day, we come across and see a large number of images from various sources such as the books, social media,
              internet, news, diagrams and advertisements etc. Some of these sources contain images that viewers would have to
              interpret themselves. Most images we view do not have a description, but we can largely understand them without their detailed captions.
              However, machine needs to interpret some form of image captions if we as humans need automatic image captions
              from it.<br /><br />

              Therefore Image Captioning is an interesting artificial intelligence problem where a descriptive sentence is generated for a
              given image and is important for many reasons. Image captioning has its own convolution and challenges. It
              requires to recognize the important objects, their properties and their relationships in an image.
              It needs to understand how objects are related to each other inside image. It also needs to generate syntactically and semantically
              correct sentences.It involves the dual techniques from computer vision to understand the content of the image and a language model from the
              field of natural language processing to turn the understanding of the image into words in the right order.<br /><br />

            </div>
          </div>
        </div>
      </div>
      <div class="text-center px-5">
        <img class="rounded-pill border-success border border-5" src="/public/img/project/High Level Architecture.png" style="max-width:70%" />
      </div>
      <div class="col-12 mt-5">
        <div class="text-center">
          <a href="https://github.com/abhishek99singh/Image-Caption-Bot" type="button" class="mt-5 btn btn-lg btn-primary px-5 mx-5">Source Code</a>
          <a href="https://singhabhishek.tech/Project/Image-Captioning-Bot/Demo" type="button" class="mt-5 btn btn-lg btn-success px-5 mx-5">Live Demo</a>
          <a href="/Project/Image-Captioning-Bot/ppt" type="button" class="mt-5 btn btn-lg btn-danger px-5 mx-5">Slides</a>
          <a href="/Project/Image-Captioning-Bot/document" type="button" class="mt-5 btn btn-lg btn-warning px-5 mx-5">Documentation</a>
        </div>
      </div>
      <div class="col-12">
        <br />
      </div>

    </div>
  </div>

  <%- include('../../templates/footer'); -%>
</body>

</html>
